
$px = 1 / 75rem;
.text-msg-content {
  font-size: 30 * $px;
  line-height: 1.5;
  padding: 18 * $px 24 * $px;
  letter-spacing: 0;
  word-break: break-all;
  white-space: pre-wrap;
  -webkit-user-select: text;
  user-select: contain;
  img {
    max-width: 100%;
    height: auto;
  }
  .image-wrap {
    max-width: 100%;
    height: auto;
  }
}
