
$px = 1 / 45rem;
.msg-item-base {
  position: relative;
  margin: 40 * $px 30 * $px;
  .timestamp {
    clear: both;
    margin: 32 * $px 0;
    font-size: 30 * $px;
    line-height: 30 * $px;
    text-align: center;
    > span {
      display: inline-block;
      padding: 6 * $px 12 * $px;
      border-radius: 4 * $px;
      color: #999;
    }
  }
  .base-container {
    position: relative;
    .avatar {
      width: 90 * $px;
      height: 90 * $px;
      border-radius: 50%;
      img{
        width: 100%
        height: 100%
      }
    }
    .avatar-holder {
      float: left;
      width: 72 * $px;
      height: 72 * $px;
      margin-right: 20 * $px;
    }
    .base-content {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      max-width: 85%;
      .name {
        font-size: 24 * $px;
        color: #777;
        margin-bottom: 16 * $px;
        span {
          font-size: 20 * $px;
          color: #8C9BD7;
          padding: 0 12 * $px;
          margin-left: 8 * $px;
          transform: scale(.8);
          -webkit-transform: scale(.8);
          border-radius: 8 * $px;
          background-color: #E9EBF4;
        }
      }
      img.state {
        position: absolute;
        top: 50%;
        left: -46 * $px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        width: 32 * $px;
        height: 32 * $px;
      }
    }
    .float-left {
      float: left;
    }
    .float-right {
      float: right;
    }
    .athena-width{
      width: 85%;
    }
  }
  .sys-msg-content {
    margin: 36 * $px 0;
    font-size: 26 * $px;
    line-height: 26 * $px;
    text-align: center;
    > span {
      display: inline-block;
      padding: 8 * $px 16 * $px;
      border-radius: 999 * $px;
      background-color: #c6c6c6;
      color: #fff;
    }
  }

  .sys-msg-note {
    margin: 48 * $px 0;
    font-size: 30 * $px;
    line-height: 30 * $px;
    text-align: center;
    > span {
      position: relative;
      display: inline-block;
      color: #9b9b9b;
    }
    > span::before,
    > span::after {
      content: '';
      position: absolute;
      top: 50%;
      height: 2 * $px;
      width: 80 * $px;
      background: #c6c6c6;
    }
    > span::before {
      left: -104 * $px;
    }
    > span::after {
      right: -104 * $px;
    }
  }


  .robot-card {
    padding-top: 32 * $px;
    &-wrap {
      position: relative;
      width: 346 * $px;
      height: 70 * $px;
      padding-top: 70 * $px;
      text-align: center;
      border-radius: 12 * $px;
      background-color: #fff;
      margin: 0 auto;
      box-shadow: 0 3 * $px 32 * $px 0 rgba(117, 117, 117, 0.09);
      img {
        position: absolute;
        left: 50%;
        top: -50 * $px;
        margin-left: -50 * $px;
        width: 102 * $px;
        height: 102 * $px;
      }
      p {
        font-size: 32 * $px;
        color: #2e3135;
      }
    }
  }
  .mixed-pic-text {
    margin: 48 * $px auto;
  }
}

.empty-clear {
  clear: both;
}


